@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    font-family: Poppins;
    overflow-x: hidden;
    --bright-red:#F3DBE7;
    --font-color: #fff;
    --side-nav:#C3CCE1;
    --chords-bg: rgb(241, 241, 241);
    --gray: rgb(156, 156, 156);
    --circle:#c3c3d3;
    --antiquewhite:#fffaf2;
    --offwhite:#FFDFCC;
    --steelblue: #C9CCD5;
    --evermore:#fff7e9;
    --brown:#7c4f32;
    --red:#990000;
}
::-webkit-scrollbar{
    display: none;
}
.uke-nav{
    background: linear-gradient(to right, rgba(184, 168, 255, 0.2), rgba(255, 160, 160, 0.3)), url(https://pbs.twimg.com/media/CfEYf3YXIAAQM-q.png) center/cover no-repeat;
    height: 6rem;
    margin-top: -1.5em;
    width: 110%;
}
.taylor-nav{
    background: linear-gradient(to bottom, var(--bright-red), var(--side-nav));
    padding: 4rem;
    text-align: center;
    margin-top: -3px;
    color: var(--font-color);
    width: 100%;
}
.taylor-nav h1{
   text-shadow: -4px 3px 2px var(--bright-red);
}
.chords-bg{
    background: linear-gradient(to bottom, rgb(216, 210, 210), rgb(243, 243, 243));
    margin-left: 12em;
    width: 40em;
    display: inline-flex;
    padding: 3em;
    margin-top: 7em;
    border-radius: 6px; 
}
#chord{
    border: 2.9px solid rgb(252, 248, 248);
    padding: 1em;
    border-radius: 5px;
    background: var(--evermore);
    box-shadow: inset 0px 0px 20px 7px rgba(75, 75, 75, 0.2);
   margin-left: 7px;
}
.chordImg{
    margin-left: -.5rem;
    display: inline-flex;
}
#chord img{
    width: 4rem;
}
.alt{
    background: var(--chords-bg);
    width: 45rem;
    margin-left: 12rem;
    padding: 10px;
   font-size: 12px;
   margin-top: 1em;
   margin-bottom: 1em;
   color: rgb(85, 85, 76);
   border-radius: 6px;
}
.alt p{
    margin-left: 1em;
}
.followts{
    background: var(--chords-bg);
    width: 45em;
    margin-left: 12em;
    padding: 13px;
    margin-bottom: 3em;
    border-radius: 5px;
    height: 5rem;
}
.followts ul li{
    color: black;
    list-style: none;
    display: inline;
    margin-left: 5em;
}
.note{
    background: var(--circle);
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-left: 5em;
    margin-bottom: 10px;
}
.note i{
    margin-top: 10px;
}
.volume {
    background: var(--circle);
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50%;
   margin-top: -1em;
    margin-left: 23em;
    margin-bottom: 10px;

}
.volume i{
    margin-top: 9px;
}
.followts p{
    font-size: 15px;
    color: var(--gray);
    margin-left: 19em;
    margin-bottom: -1rem;
}
.border{
    border: 2px solid var(--gray);
    display: flex;
    margin-top: -2rem;
    width: 24.5em;
    margin-left: 10.2rem;
}
.lyricsbg{
    background-color: var(--antiquewhite);
    width: 46rem;
    margin-left: 12rem;
    padding: 10px;
    font-size: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    margin-top: 2rem;
    border-radius: 3px;
}
.lyrics p{
    border-bottom: 1px solid #DEDEDE;
}
.ukechords{
    background:#c1c1d4;
    width: 11rem;
    margin-left: 29rem;
    padding: 5px;
    margin-bottom: 1em;
    height: 2.3em;
    border-radius: 6px;
    border-top: 5px white;
    border-style: ridge;
    margin-top: 2em;
}
.ukechords p{
    margin-top: 9px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}
.border2{
    border: 1.5px solid #d2d2d2;
    width: 46em;
   margin-left: 12.5em;
   display: flex;
   margin-bottom: -4em;
}
a:link, a:visited{
    text-decoration: none;
}
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  #menu{
    background: var(--bright-red);
    padding-top: 1.3em;
    width: 6.2em;
    text-align: center;
    height: 3.1em;
    position: fixed;
    top: 0;
    margin-left: -1.2em;  
  }
  #menu i:hover{
    background: linear-gradient(to right, #86a9f8 ,#ffd9ec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.5s;
    cursor: pointer;
  }
 #menu i{
    color: white;
    font-size: 2em;
    padding-left: 40px;
 }
 ul li{
    list-style: none;
 }
 .evermore-header{
    width: 20rem;
    height: 21rem;
    background:linear-gradient(to bottom, var(--evermore), var(--steelblue));
    float: right;
    margin-right: 3rem;
    margin-top: 8em;
 }
 .evermore img{
    padding: 4rem;
    margin-top: -3rem;
    margin-left: -8px;
 }
 
 .evermore-header p{
    background: var(--evermore);
    padding: 10px;
    margin-top: -10px;
    color: var(--brown);
 }
 .morever p{
   background: #fffbf5;
    padding: 5px;
    color: var(--brown);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
 }
 .morever{
    display: grid;
    grid-template-columns: 10% 90%;
 }
 #num{
   color: #B92E20;
   background: #faecdc;
   text-align: center;
   font-weight: 600;
 }
 .sidebar{
    position: fixed;
   margin-top: -16.2em;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--side-nav);
    transition: all 0.2s ease-in-out;
    z-index: 100;  
}
.sidebar.close{
    width: 66px;
}
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    margin-left: -1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.nav-link{
    margin-bottom: 3em;
    margin-top: 1em;
}
.sidebar .text,
.sidebar .icon{
    color: var(--font-color);
    transition: 0.5s;
}
.sidebar.close .text{
    opacity: 0;
    transition: 0.2s;
}

.sidebar header{
    position: relative;
}
.sidebar header .toggle{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.arrange{
    background: #fff4ec;
    width: 57em;
    margin-left: 15em;
    padding: 6px;
    border-radius: 5px;
    font-size: 13px;
    color: var(--gray);
    box-shadow: 0px 2px 12px 0px rgba(143, 143, 143, 0.6);
}
.commentsection{
    background: #f3f3f3;
    margin-left: 12em;
    width: 45.5em;
    padding: 1em;
    border-radius: 5px;
    color: #555;
}
.comment{
    background: #e4e4df;
    padding: 1em;
    height: 10rem;
    border-radius: 5px;
    margin-bottom: 2em;
}
.comment p{
    margin-top: -2rem;
    margin-left: 5rem;
}
.comment img{
    border: 2px solid white;
}
.comment h4{
    margin-top: 3em;
    font-weight: 500;
}
.reacts{
    display: inline-flex;
}
.fa-face-smile{
    margin-right: 1rem;
}
.fa{
    color: rgb(121, 121, 121);
}
.reacts h3{
    margin-top: -3px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    margin-right: 1em;
    color: rgb(121, 121, 121);
}
.footer{
    height: 15em;
    width: 100em;
    background: linear-gradient(to bottom,#ffedf6 ,#d0deff);
    margin-left: 3px;
    text-align: center;
}
.footer p{
    position: absolute;
    margin-left: 33em;
    margin-top: 4em;
    color: rgb(114, 114, 114);
}
html{
    scroll-behavior: 60s smooth;
}
.icon:hover{
    background: linear-gradient(to right,#ffedf6 50% ,#d0deff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.5s;
}
#active{
    background: linear-gradient(to right,#ffedf6 50% ,#d0deff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text:hover{
    background: linear-gradient(to right, #d0deff 50% ,#ffedf6 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 0.5s;
}
a.note{
    color: black;
}
.autoscroll{
    background: var(--steelblue);
    width: 20em;
    margin-left: 12em;
    height: 2.8em;
    border-radius: 6px;
    box-shadow: 0px 2px 12px 0px rgba(143, 143, 143, 0.6);
    position: sticky;
    position: -webkit-sticky;
    top: 3px;
    display: flex;
}
.autoscroll h2{
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    margin-left: 7px;
    color: rgb(56, 56, 56);
    margin-top: 1px;
}
.speed{
    background: #b4b9c4;
    width: 18em;
    margin-left: 1em;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 2.8em;
}
.speed p{
    padding: 1px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(56, 56, 56);
    margin-top: 6px;
}
.nums{
    margin-top: -3.8em;
    margin-left: 4em;
    color: rgb(77, 77, 77);
}
.nums h4{
    font-weight: 20px;
    padding: 3px;
    margin-left: 5px;
}
.num1{
    margin-top: -4.1em;
    margin-left: 5.5em; 
    color: rgb(77, 77, 77);
}
.num1 h4{
    font-weight: 20px;
    padding: 3px;
    margin-left: 5px;
}
.num2{
    margin-top: -4em;
    margin-left: 6.5em; 
    color: rgb(77, 77, 77);
}
.num2 h4{
    font-weight: 20px;
    padding: 3px;
    margin-left: 5px;
}
.num3{
    margin-top: -4.08em;
    margin-left: 7.8em; 
    color: rgb(77, 77, 77);
}
.num3 h4{
    font-weight: 20px;
    padding: 3px;
    margin-left: 5px;
}
.num4{
    margin-top: -4em;
    margin-left: 9.5em; 
    color: rgb(77, 77, 77);
}
.num4 h4{
    font-weight: 20px;
    padding: 3px;
}
.sticky-chord{
    display: inline-flex;
    margin-left: 13em;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    transition: 0.4s;
}
#chordd img{
    width: 3rem;
}
#chordd{
    border: 2.9px solid rgb(252, 248, 248);
    padding: 10px;
    border-radius: 5px;
    background: var(--evermore);
    box-shadow: inset 0px 0px 20px 7px rgba(141, 141, 141, 0.2);
   margin-left: 7px;
  
}
#chordmenu{
    margin-left: 10.6em;
    margin-bottom: -1.5rem;
    padding: 3px;
    border-radius: 2px;
    position: sticky;
    top: 10px;
    color: var(--red);
    cursor: pointer;
}
#chordmenu:hover{
    color: #d42110;
    transition: 0.4s;
}
.biography{
    background: var(--evermore);
    width: 60rem;
    margin-left: 14rem;
    padding: 2em;
    margin-top: 3em;
    box-shadow: 0px 0px 10px 0px rgba(90, 89, 89, 0.3);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 7px;
}
.biography h2{
    text-align: center;
    color: #990000;
    font-size: 25px;
   
}
.biography p{
    border-bottom: 1px solid #5555;
    color: #555;
    font-size: 14px;
    margin-left: 4em;
   
}
.biography img{
    width: 10em;
    float: left;
    transform: rotate(-15deg);
    margin-left: -3em;
    margin-top: -3.5em;
    margin-right: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.redborder{
    border-left: 4px double #ff9694;
    height: 20.2em;
    position: absolute;
    margin-top: -3.3rem;
}
.follow{
    margin-left: 38rem;
}
.follow h1{
    font-weight: 550;
}
.brand {
    font-size: 2.5em;
    margin-left: -8rem;
    margin-top: 1.8rem;
}
.brand:hover{
    color: #d41200;
    transition: 0.5s;
}
.back p{
    font-weight: 550;
}
.back p:hover{
    color: #e91300;
    transition: 0.5s;
}
.insta p, .twt p, .spotify p {
    position: absolute;
    margin-top: -2rem;
    margin-left: 5rem;
}
.insta, .twt, .spotify{
    margin-bottom: 2rem;
}
.brands {
    font-size: 1.3em;
    color: var(--red);
    display: inline-flex;
    position: absolute;
    margin-top: -1.5em;
}
.didyouknow{
    margin-left: 14em;
    background: var(--evermore);
    width: 27em;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 0.6);
   
}
.didyouknow img{
    float: left;
    width: 9em;
    margin-left: -2rem;
    transform: rotate(-10deg);
    margin-top: -3rem;
   border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.didyouknow h1{
    text-align: center;
    color: #990000;
}
.didyouknow p{
    font-size: 14px;
    text-align: center;
}
.didyouknow1{
    margin-left: 8em;
    background: var(--evermore);
    width: 27em;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 0.6);
   
}
.didyouknow h2, .didyouknow1 h2{
    font-size: 14px;
    text-align: center;
}
.didyouknow1 img{
    float: right;
    width: 9em;
    margin-right: -4rem;
    transform: rotate(-10deg);
    margin-top: -2.5rem;
   border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.didyouknow1 h1{
    text-align: center;
    color: #990000;
}
.didyouknow1 p{
    font-size: 14px;
    text-align: center;
}
.dyk{
    display: inline-flex;
}
.didyouknow1 a:link, a:visited{
    text-decoration: underline;
    color: black;
   text-decoration-color: var(--red);
}
.didyouknow1 a:link:hover{
    color: var(--red);
    text-decoration: none;
    transition: 0.5s;
}
.flipCard {
    transition: 0.5s;
     width: 240px;
     height: 350px;
     position: relative;
     margin-left: 38em;
     margin-top: 3em;
     border-radius: 10px;
  }
  .flipCard .card.flipped {
    transform:rotatey(-180deg);
    -webkit-transform:rotatey(-180deg); 
  }
  .flipCard .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
  }
  .flipCard .card .side {
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    backface-visibility: hidden;  
    -webkit-backface-visibility: hidden; 
    box-shadow: 0 0 13px 0px rgba(100, 100, 100, 0.5);
    overflow: hidden;
  }
  .flipCard .card .back {
    background: white;
    color: var(--red);
    transform:rotatey(-180deg);
    -webkit-transform:rotatey(-180deg);
  }
  
  .flipCard .card .front {
    text-align: center;
    line-height: 160px;
    background-color: var(--antiquewhite);
    color: var(--red);
    border-radius: 10px;
  }
  .flipCard .card .back {
    background-color: var(--antiquewhite);
    text-align: center;
    color: var(--red);
    font-size: 18px;
    border-radius: 10px;
  }
  .front img{
    width: 10em;
    margin-left: 7px;
    margin-top: 2em;
    border-radius: 7px;
  }
  .front p{
    margin-top: -5.5em;
    font-size: 20px;
    font-weight: 610;
  }
 .front p:hover{
    color: #e91300;
    transition: 0.5s;
 }
 .back h2:hover{
    color: #e91300;
    transition: 0.5s;
 }
  .back img{
    width: 12em;
    margin-left: 2.5px;
    box-shadow: 0 0 13px 0px rgba(100, 100, 100, 0.5);
  }
  #insta a:link, a:visited{
    color: var(--red);
  }
  .didyouknow h2, .didyouknow1 h2{
    color: #ce1616;
  }
  a.homePage{
    color: #fff;
    font-size: 14px;
  }
  a.homePage:hover{
    text-decoration: underline;
  }








